header {
    border-bottom: 1px solid #ccc;
}
.img-cover {
    width: 100%;
    object-fit: cover;
}

.card .img-cover{
    height: 200px;
}

.img-middle {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.img-middle img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

html, body, #content {
    height: 100%;
}

#content {
    padding-bottom: 50px;
    overflow: auto;
}

.footer {
    position: relative;
    margin-top: -50px; 
    height: 50px;
    clear:both;
    padding-top:20px;
  } 